# Backend settings
BACKEND_HOST=...
BACKEND_PORT=...
Backend_API_VERSION=...
Backend_API_URL=http://${BACKEND_HOST}:${BACKEND_PORT}/api/${Backend_API_VERSION}

# Application settings
APP_ENV=development